/* start of customised CSS */
@font-face {
  font-family: de-valencia;
  src: url('./de-valencia-webfont.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

body {
  line-height: 1;
  background-image: url('../img/background.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #3e2b7f;
  display: flex;
  justify-content: right;
}

p {
  margin-bottom: 1%;
  font-size: 1rem;
}

.main-content-holder {
  background-color: black;
  box-shadow: 0 0 10px 10px black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  position: absolute;
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-header {
  font-family: de-valencia;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 300%;
  margin: 5% 5% 3% 5%;;
}

.form-content-holder {
  margin: 0% 5% 5% 6%;
  width: 80%;
}

.fillout-txt {
  margin-bottom: 3%;
  font-weight: bold;
}

.form-fields {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}

label {
  font-size: 0.75rem;
}

.label-field-holder {
  display: flex;
  flex-direction: column;
}

input, select {
  margin-top: 1%;
  box-sizing: border-box;
  width: 70%;
  background-color: black;
  color: white;
  text-indent: 1%;
  font-size: 1rem;

  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-color: white;
  border-width: 1px;
  border-radius: 20px;
}

select {
  background-image: url('../img/arrow-204-16.png');
  background-repeat: no-repeat;
  background-position: 95%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}

.prediction-holder {
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  display: block;
  border: solid white;
  border-width: 1px;
  border-radius: 0;
  background-color: white;
  color: black;
  width: 10rem;
  font-size: 1rem;
}

button:hover {
  background-color: black;
  color: white;
  transition: 0.5s;
}

.prediction {
  text-decoration: underline;
  font-size: 1rem;
}

/* the black main-content holder becomes too small at smaller screen sizes*/
@media(max-width: 960px) {
  .main-content-holder{
    width: 65%;
  }
}

@media(max-width: 800px) {
  .main-content-holder{
    width: 80%;
  }
}

@media(max-width: 640px) {
  .main-content-holder{
    width: 90%;
  }

  .form-fields {
    grid-template-columns: auto;
  }

  input, select {
    width: 100%;
  }
}
