<!DOCTYPE html>
<html lang='en-gb'>
<head>
  <title>London House Price Prediction</title>
  <meta charset="UTF-8">
  <meta name="description" content="CatBoost REST API sample.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/reset.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">
  <script src="../static/js/script.js" defer></script>
  <script src="../static/js/backend.js" defer></script>
</head>
<body>
  <div class="main-content-holder">
    <h1 class="main-header">London House Price Predictor</h1>
    <div class="form-content-holder">
      <p>Can you afford to live in London? Sure, if you have a kidney or two to spare.</p>
      <p class="fillout-txt">Fill out the form below to get a London house price prediction.</p>
      <form>
        <div class="form-fields">
          <div class="label-field-holder">
            <label for="year">Year Recorded</label>
            <select id="year" name="year"></select>
          </div>
          <div class="label-field-holder">
            <label for="area">Area</label>
            <select id="area" name="area"></select>
          </div>
          <div class="label-field-holder">
            <label for='houses_sold'>Houses Sold</label>
            <input type="number" id="houses_sold" name="houses_sold">
          </div>
          <div class="label-field-holder">
            <label for='no_of_crime'>Number of Crimes</label>
            <input type='number' name='no_of_crimes' id='no_of_crimes'>
          </div>
        </div>
        <div class="prediction-holder">
          <button type="button" class="predict_button">Predict!</button>
          <div class="prediction">£0.00</div>
        </div>
        
      </form>
    </div>
  </div>
</body>
</html>