<!DOCTYPE html>
<html lang='en-gb'>
<head>
  <title>London House Price Prediction</title>
  <meta charset="UTF-8">
  <meta name="description" content="CatBoost REST API sample.">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="../static/js/script.js" defer></script>
  <script src="../static/js/backend.js" defer></script>
</head>
<body>
  <h1>London House Price Predictor</h1>
  <form>
    <label for="year">Year</label>
    <select id="year" name="year"></select>
    <label for="area">Area</label>
    <select id="area" name="area"></select>
    <label for='houses_sold'>Houses Sold</label>
    <input type="number" id="houses_sold" name="houses_sold">
    <label for='no_of_crime'>Number of Crime</label>
    <input type='number' name='no_of_crimes' id='no_of_crimes'>
    <button type="button" class="predict_button">Predict!</button>
    <div class="prediction"></div>
  </form>
</body>
</html>