/* CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}

/* start of customised CSS */
@font-face {
  font-family: de-valencia;
  src: url('./de-valencia-webfont.woff') format('woff');
  font-style: normal;
  font-weight: normal;
}

body {
  line-height: 1;
  background-image: url('../img/background.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #3e2b7f;
  display: flex;
  justify-content: right;
}

p {
  margin-bottom: 1%;
}

.main-content-holder {
  background-color: black;
  box-shadow: 0 0 10px 10px black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  position: absolute;
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-header {
  font-family: de-valencia;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3rem;
  margin: 5% 5% 3% 5%;;
}

.form-content-holder {
  margin: 0% 5% 5% 6%;
}

.fillout-txt {
  margin-bottom: 3%;
  font-weight: bold;
}


.form-fields {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}

label {
  font-size: 0.75rem;
}
.label-field-holder {
  display: flex;
  flex-direction: column;
}

.prediction-holder {
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
}

@media(max-width: 960px) {
  .main-content-holder{
    width: 65%;
  }
}

@media(max-width: 800px) {
  .main-content-holder{
    width: 80%;
  }
}

@media(max-width: 640px) {
  .main-content-holder{
    width: 90%;
  }

  .form-fields {
    grid-template-columns: auto;
  }
}
